{% extends "base-app-brand.html" %}
{% set active_page = "account" %}
{% block body %}
<div class="main-container">
    <section class="bg--secondary space--sm border--bottom">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4">
                      <div class="boxed boxed--lg boxed--border">
                          <div class="text-block text-center">
                              <img alt="avatar" src="/static/img/user.png" class="image--sm">
                              <span class="h5">{{brand.name}}</span>
                              <span>{{accountType|capitalize}}</span>
                              <span style="background-color: #0c9;" class="label">Brand</span>
                          </div>
                          <hr>
                          <div class="text-block">
                              <ul class="menu-vertical">
                                  <li>
                                      <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-profile;hidden">Profile</a>
                                  </li>
                                  <li>
                                      <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-notifications;hidden">Email notifications</a>
                                  </li>
                                  <li>
                                      <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-billing;hidden">Billing details</a>
                                  </li>
                                  <li>
                                      <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-delete;hidden">Delete account</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-8">
                      <div class="boxed boxed--lg boxed--border">
                          <div id="account-profile" class="account-tab">
                              <h2>Profile</h2>
                              <form action="/updateAccount" method="post">
                                <div class="row">
                                  <div class="col-12">
                                      <label for="company_name">Company name</label>
                                      <input type="text" name="company_name" value="{{brand.company_name}}" placeholder="Acme" autofocus required>
                                  </div>
                                  <div class="col-12">
                                    <label for="url">Company domain</label>
                                    <input id="urlId" type="text" name="company_domain" value="{{brand.company_domain}}" placeholder="acme.com" onfocusout="fillInfo()" required>
                                  </div>
                                  <div class="col-12">
                                    <div id="brand-tags" class="pm-tags">
                                      <div class="tags">
                                        {% for k in brand.domain.keywords %}
                                        <div class="tag">
                                          <span class="tag-name">{{k}}</span>
                                        </div>
                                        {% endfor %}
                                      </div>
                                    </div>
                                    <input id="keywords" type="text" name="keywords" class="validate-required" value="{{keywords}}" hidden>
                                  </div>
                                  <div class="col-12">
                                      <label for="company_description">Company description</label>
                                      <textarea name="company_description" rows="8" cols="80" placeholder="We help brands sell on Facebook...">{% if brand.company_description %}{{brand.company_description}}{% endif %}</textarea>
                                    </div>
                                  <div class="col-12">
                                      <label for="avatar">Avatar</label>
                                      <input type="file" name="avatar">
                                    </div>
                                  <div class="col-12">
                                      <label for="name">Name</label>
                                      <input type="text" name="name" value="{{brand.name}}" placeholder="Joe Bloggs" required>
                                  </div>
                                  <div class="col-12">
                                      <label for="email">Email</label>
                                      <input type="email" name="email" value="{{brand.email}}" placeholder="joe.bloggs@example.com" required>
                                  </div>
                                  <div class="col-12">
                                      <label for="password">Password</label>
                                      <input type="password" name="password" value="{{brand.password}}" placeholder="Combine letters numbers and symbols" required>
                                  </div>
                                  <div class="col-3">
                                      <button type="submit" class="btn btn--primary type--uppercase">Update</button>
                                  </div>
                                </div>
                                <!--end row-->
                              </form>
                          </div>
                          <div id="account-notifications" class="hidden account-tab">
                              <h4>Email Notifications</h4>
                              <p>Select the frequency with which you'd like to recieve product summary emails:</p>
                              <form>
                                  <div class="boxed bg--secondary boxed--border row">
                                      <div class="col-4 text-center">
                                          <div class="input-radio">
                                              <span>Never</span>
                                              <input type="radio" name="frequency" value="never" class="validate-required" id="input-assigned-1">
                                              <label for="input-assigned-1"></label>
                                          </div>
                                      </div>
                                      <div class="col-4 text-center">
                                          <div class="input-radio checked">
                                              <span>Weekly</span>
                                              <input type="radio" name="frequency" value="weekly" class="validate-required" id="input-assigned-2">
                                              <label for="input-assigned-2"></label>
                                          </div>
                                      </div>
                                      <div class="col-4 text-center">
                                          <div class="input-radio">
                                              <span>Monthly</span>
                                              <input type="radio" name="frequency" value="monthly" class="validate-required" id="input-assigned-3">
                                              <label for="input-assigned-3"></label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-lg-4 col-md-5">
                                          <button type="submit" class="btn btn--primary type--uppercase">Save Preferences</button>
                                      </div>
                                  </div>
                                  <!--end of row-->
                              </form>
                          </div>
                          <div id="account-billing" class="hidden account-tab">
                              <h4>Billing Details</h4>
                              <div class="boxed boxed--border bg--secondary">
                                  <h5>Payment Methods</h5>
                                  <hr>
                                  <form>
                                      <ul>
                                          <li class="row">
                                              <div class="col-md-6">
                                                  <p>
                                                      <i class="material-icons">credit_card</i>
                                                      <span> Mastercard ending in
                                                          <strong>4722</strong>
                                                      </span>
                                                  </p>
                                              </div>
                                              <div class="col-md-3 text-right text-left-xs">
                                                  <button type="submit" class="btn bg--error">Remove</button>
                                              </div>
                                              <div class="col-md-3 text-right text-left-xs">
                                                  <button type="submit" class="btn">Edit</button>
                                              </div>
                                          </li>
                                      </ul>
                                      <hr>
                                      <button type="submit" class="btn">Add New Method</button>
                                  </form>
                              </div>
                          </div>
                          <div id="account-delete" class="hidden account-tab">
                              <h4>Delete Account</h4>
                              <p>Permanently remove your account using the button below. Warning, this action is permanent.</p>
                              <form>
                                  <button type="submit" class="btn bg--error type--uppercase">Delete Account</button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
              <!--end of row-->
          </div>
          <!--end of container-->
      </section>
  </div>
  <!--<div class="loader"></div>-->
  <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
      <i class="stack-interface stack-up-open-big"></i>
  </a>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  function fillInfo(){
    var url=$.trim($("#urlId").val());
    if(url.length>0){
      var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
      var regex = new RegExp(expression);
      if (url.match(regex)) {
        $("#urlId").removeClass('field-error');
        $.ajax({
          url: "/getKeywords?url=" + url
        }).then(function(data){
          console.log(data);
          var obj = JSON.parse(data);
          console.log(obj)
          var keywords = Object.keys(obj);
          console.log(keywords)
          var length = keywords.length;
          $('#keywords').val('');
          $('#brand-tags > .tags .tag').remove();
          for (var i = 0; i < length; i++) {
            var currentValue = $('#keywords').val();
            console.log(i)
            console.log(keywords[i])
            if (i < (length - 1)){
              $('#keywords').val(currentValue + keywords[i] + ",");
            } else {
              $('#keywords').val(currentValue + keywords[i]);
            }
            $('#brand-tags > .tags').append('<div class="tag"><span class="tag-name">' + keywords[i] + '</span></div>')
          }
        });
      } else {
        $("#urlId").addClass('field-error');
        $('#keywords').val('');
        $('#brand-tags > .tags .tag').remove();
      }
    }
  }
</script>
{% endblock %}
