{% extends "base-app-brand.html" %}
{% set active_page = "match" %}
{% block body %}
<div class="main-container">
  <section class="cover imagebg height-40 text-center" data-overlay="8">
      <div class="background-image-holder" style="background: url(&quot;/static/img/match.jpg&quot;); opacity: 1;">
          <img alt="background" src="/static/img/match.jpg">
      </div>
      <div class="container pos-vertical-center">
          <div class="row">
              <div class="col-md-10 col-lg-8">
                  <h1>Match</h1>
                  <p class="lead">
                      Upload your brief and we'll match you with vendors who can help 
                  </p>
                  <a class="btn btn--primary type--uppercase" href="/ask/create">
                      <span class="btn__text">
                          Create a brief
                      </span>
                  </a>
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
  <section>
    <h2 style="text-align: center;">Your briefs</h2>
    <div class="container">
      <div class="row">
        {% if briefs|length == 0 %}
          <div class="col-12 text-center">
            <p class="lead">It's all quiet here, you haven't created any briefs yet!</p>
          </div>
        {% else %}
          {% for brief in briefs %}
            <div class="col-md-4">
                <a href="/ask/{{brief._id}}" class="block">
                    <div class="feature feature-1 boxed boxed--border">
                        <h6 class="type--uppercase color--primary">Brief</h6>
                        <p>{{brief.description|truncate(100)}}</p>
                        <br>
                        <div class="pm-tags">
                          <ul class="tags">
                            {% for c in brief.categories %}
                            <li class="tag">
                              <span class="tag-name">{{c}}</span>
                            </li>
                            {% endfor %}
                          </ul>
                        </div>
                    </div>
                    <!--end feature-->
                </a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>
{% endblock %}
