{% extends "base-app-brand.html" %}
{% set active_page = "match" %}
{% block body %}
<div class="main-container">
  <section class="text-center">
    <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6">
            <div class="cta">
              <img src="/static/img/brief.svg" alt="" width="260">
              <h2>Brief</h2>
              <p class="lead">
                Each purchase of Stack comes with six months free support — and a lifetime of free content and bug-fix updates.
              </p>
              <br>
            </div>
          </div>
        </div>
        <!--end of row-->
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="row">
                    <div class="boxed boxed--border">
                        <form action="/ask/{{brief._id}}" method="post" class="text-left row">
                            <div class="col-md-12">
                              <label for="description">Description</label>
                              <textarea id="descriptionPart" onfocusout="fillInfo()" name="description" class="validate-required" rows="8" cols="80" placeholder="Add a detailed brief">{{brief.description}}</textarea>
                            </div>
                            <div class="col-md-12">
                                <label for="keywords">Keywords</label>
                                <div id="brief-tags" class="pm-tags">
                                  <div class="tags">
                                    {% for k in brief.keywords %}
                                    <div class="tag">
                                      <span class="tag-name">{{k}}</span>
                                    </div>
                                    {% endfor %}
                                  </div>
                                </div>
                                <input id="keywords" type="text" name="keywords" class="validate-required" value="{{keywords}}" hidden>
                            </div>
                            <div class="col-md-12">
                              <label for="categories">Categories</label>
                              <select multiple size="6" name="categories">
                                {% for c in categories %}
                                  {% if c in brief.categories %}
                                    <option value="{{c}}" selected>{{c}}</option>
                                  {% else %}
                                    <option value="{{c}}">{{c}}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                            </div>
                            <div class="col-md-12">
                                <label for="urgency">Urgency</label>
                                <input type="text" class="validate-required" name="urgency" class="validate-required" value="{{brief.urgency}}">
                            </div>
                            <div class="col-md-12">
                                <label for="budget">Budget</label>
                                <input type="text" class="validate-required" name="budget" class="validate-required" value="{{brief.budget}}">
                            </div>
                            <div class="col-md-12 boxed">
                                <button type="submit" class="btn btn--primary btn--block type--uppercase" style="width: 100%;">
                                  <span class="btn__text">Update</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--end of row-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  function fillInfo(){
    $.ajax({
      url: "/keywordText?text=" + document.getElementById('descriptionPart').value
    }).then(function (data) {
      console.log(data);
      var obj = JSON.parse(data);
      console.log(obj)
      var keywords = Object.keys(obj);
      console.log(keywords)
      var length = keywords.length;
      $('#keywords').val('');
      $('#brief-tags > .tags .tag').remove();
      console.log("set to empty")
      for (var i = 0; i < length; i++) {
        var currentValue = $('#keywords').val();
        console.log(i)
        console.log(keywords[i])
        if (i < (length - 1)){
          $('#keywords').val(currentValue + keywords[i] + ",");
        } else {
          $('#keywords').val(currentValue + keywords[i]);
        }
        $('#brief-tags > .tags').append('<div class="tag"><span class="tag-name">' + keywords[i] + '</span></div>')
      }
    });
  }
</script>
{% endblock %}
