{% extends "base-app-brand.html" %}
{% set active_page = "match" %}
{% block body %}
<div class="main-container">
  <section class="text-center">
    <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6">
            <div class="cta">
              <img src="/static/img/brief.svg" alt="" width="260">
              <h2>Create a brief</h2>
              <p class="lead">
                Each purchase of Stack comes with six months free support — and a lifetime of free content and bug-fix updates.
              </p>
              <br>
            </div>
          </div>
        </div>
        <!--end of row-->
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="row">
                    <div class="boxed boxed--border">
                        <form action="/addBrief" method="post" class="text-left row">
                            <div class="col-md-12">
                              <label for="company_description">Description</label>
                              <textarea id="descriptionPart" onfocusout="fillInfo()" name="description" class="validate-required" rows="8" cols="80" placeholder="Add a detailed brief"></textarea>
                              <div id="brief-tags" class="pm-tags">
                                <div class="tags"></div>
                                <input id="keywords" type="text" name="keywords" class="validate-required" hidden>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <label for="categories">Categories</label>
                              <select multiple size="6" name="categories">
                                {% for c in categories %}
                                  <option value="{{c}}">{{c}}</option>
                                {% endfor %}
                              </select>
                            </div>
                            <div class="col-md-12">
                                <label for="urgency">Urgency</label>
                                <input type="text" class="validate-required" name="urgency" class="validate-required">
                            </div>
                            <div class="col-md-12">
                                <label for="budget">Budget</label>
                                <input type="text" class="validate-required" name="budget" class="validate-required">
                            </div>
                            <div class="col-md-12 boxed">
                                <button type="submit" class="btn btn--primary btn--block type--uppercase" style="width: 100%;">
                                  <span class="btn__text">Save and get matches</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--end of row-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  function fillInfo()
  {
    $.ajax({
      url: "/keywordText?text=" + document.getElementById('descriptionPart').value
      }).then(function (data) {
          console.log(data);
          var obj = JSON.parse(data);
          console.log(obj)
          var keywords = Object.keys(obj);
          console.log(keywords)
          var length = keywords.length;
          for (var i = 0; i < length; i++) {
            var currentValue = $('#keywords').val();
            console.log(i)
            console.log(keywords[i])
            if (i < (length - 1)){
              $('#keywords').val(currentValue + keywords[i] + ",");
            } else {
              $('#keywords').val(currentValue + keywords[i]);
            }
            $('#brief-tags > .tags').append('<div class="tag"><span class="tag-name">' + keywords[i] + '</span></div>')
          }
      });
  }
</script>
{% endblock %}
