{% extends "base-app-brand.html" %}
{% set active_page = "match" %}
{% block body %}
<div class="main-container">
  <section class="text-center bg--secondary">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-10 col-lg-8">
                  <img src="/static/img/brief.svg" alt="" width="260">
                  <h2>Brief</h2>
                  <p><a class="btn btn--default type--uppercase" href="/ask/{{brief._id}}/edit"><span class="btn__text">Edit</span></a></p>
                  <!-- <p>
                    <strong>Categories:</strong>
                    {% for c in brief.categories %}
                      {% if loop.index != brief.categories|length %}
                        <span>{{c}}, </span>
                      {% else %}
                        <span>{{c}}</span>
                      {% endif %}
                    {% endfor %}
                    <br>
                    <strong>Urgency:</strong> {{brief.urgency}}
                    <br>
                    <strong>Budget:</strong> {{brief.budget}}
                  </p> -->
                  <p class="lead">{{brief.description|truncate(150)}}</p>
                  <div class="pm-tags">
                    <ul class="tags">
                      {% for k in brief.keywords %}
                        <li class="tag">
                          <span class="tag-name">{{k}}</span>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <a class="btn btn--primary type--uppercase inner-link" href="#results" data-scroll-class="100vh:active">
                      <span class="btn__text">
                          View matches
                      </span>
                  </a>
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
  
  {% if results %}
  <section id="results">
    <p class="lead" style="text-align: center;">Showing top matches</p>
    <div class="pm-results">
      <div class="container">
        <div class="row">
          {% for result in results %}
            
              <div class="col-lg-4 col-md-6">
                <div class="result modal-instance">
                  {% if loop.index < 4 %}
                  <div class="feature feature-4 boxed boxed--lg boxed--border text-center modal-trigger featured">
                      <span style="display: inline-block; height: 100px; margin-bottom: 10px;">
                        {% if result.clearbit.logo %}
                          <img alt="Image" height="100" src="{{result.clearbit.logo}}" style="max-height: 100px;">
                        {% else %}
                          <img alt="Image" height="100" src="/static/img/company.png" style="max-height: 100px;">
                        {% endif %}
                      </span>
                      {% if result.company_name %}
                        <h4>{{result.company_name}}</h4>
                      {% endif %}
                      {% if result.clearbit.description %}
                        <p>{{result.clearbit.description|truncate(80)}}</p>
                      {% endif %}
                      <!-- <div>
                        <a style="display: inline-block; margin: 0 0.5em;" href="#">Get introduced</a>
                        <a style="display: inline-block; margin: 0 0.5em;" href="#">Save for later</a>
                      </div> -->
                      <div class="rating" style="position: absolute; top: 1em; right: 1em; z-index: 1; color: #0c9; display: inline-block; width: 3.5em; height: 3.5em; border: solid 2px #0c9; border-radius: 50%; line-height: 3.25em; font-weight: bold;">
                        <i class="fas fa-trophy"></i> {{ loop.index }}
                      </div>
                      <span class="btn btn--primary">
                          <span class="btn__text">
                              VIEW
                          </span>
                      </span>
                  </div>
                  {% else %}
                  <div class="feature feature-2 boxed boxed--border modal-trigger">
                    <div class="feature-logo" style="float: left; width: 25%;">
                      {% if result.clearbit.logo %}
                        <img alt="Image" src="{{result.clearbit.logo}}" style="max-height: 100px; max-width: 80%;">
                      {% else %}
                        <img alt="Image" src="/static/img/company.png" style="max-height: 100px; max-width: 80%;">
                      {% endif %}
                    </div>
                    <div class="feature__body">
                      {% if result.company_name %}
                        <h4>{{result.company_name}}</h4>
                      {% endif %}
                      {% if result.clearbit.description %}
                        <p>{{result.clearbit.description|truncate(80)}}</p>
                      {% endif %}
                    </div>
                  </div>
                  <!--end feature-->
                  {% endif %}
                  <div class="modal-container">
                    <div class="modal-content">
                      <section class="imageblock feature-large bg--site border--round ">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-11 col-lg-10">
                                        {% if result.clearbit.logo %}
                                          <img alt="Image" height="100" src="{{result.clearbit.logo}}" style="max-height: 100px; max-width: 80%;">
                                        {% else %}
                                          <img alt="Image" height="100" src="/static/img/company.png" style="max-height: 100px; max-width: 80%;">
                                        {% endif %}
                                        {% if result.company_name %}
                                          <h2>{{result.company_name}}</h2>
                                        {% endif %}
                                        {% if result.clearbit.description %}
                                          <p>{{result.clearbit.description|truncate(80)}}</p>
                                        {% endif %}
                                        {% if result.domain.url %}
                                          <p><a href="{{result.domain.url}}" target="_blank">{{result.domain.url}}</a></p>
                                        {% endif %}
                                        {% if result.domain.keywords %}
                                          <div class="pm-tags">
                                            <ul class="tags">
                                              {% for k in result.domain.keywords %}
                                                <li class="tag">
                                                  <span class="tag-name">{{k}}</span>
                                                </li>
                                              {% endfor %}
                                            </ul>
                                          </div>
                                          {% endif %}
                                        <a class="btn btn--primary" href="#">
                                            <span class="btn__text">
                                                Get introduced
                                            </span>
                                        </a>
                                        <!-- <a class="btn btn--primary" href="#">
                                            <span class="btn__text">
                                                Save for later
                                            </span>
                                        </a> -->
                                    </div>
                                    <!--end of col-->
                                </div>
                            </div>
                            <!--end of container-->
                        </section>
                    <div class="modal-close modal-close-cross"></div></div>
                  </div>
                </div>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% else %}
  <section id="results" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
              <p class="lead">Search by keyword or phrase to get results</p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  {% endif %}
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>
{% endblock %}
