{% extends "base-app-brand.html" %}
{% set active_page = "dashboard" %}
{% block body %}
<div class="main-container">
  <section class="height-100 text-center">
      <div class="container pos-vertical-center">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="h1--large">Coming soon</h1>
                  <p class="lead">
                      This template is yet to be designed
                  </p>
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>
{% endblock %}
