{% extends "base-app-brand.html" %}
{% set active_page = "discover" %}
{% block body %}
<div class="main-container">
  <section class="cover imagebg height-40 text-center" data-overlay="8">
      <div class="background-image-holder" style="background: url(&quot;/static/img/discover.jpg&quot;); opacity: 1;">
          <img alt="background" src="/static/img/discover.jpg">
      </div>
      <div class="container pos-vertical-center">
          <div class="row">
              <div class="col-md-10 col-lg-8">
                  <h1>Discover</h1>
                  <p class="lead">Discover over 5000 martech innovators</p>
                  <div class="boxed bg--white text-left" style="overflow: visible;">
                      <form role="search" class="form--horizontal row m-0" action="/discover">
                          <div class="col-md-8">
                              <!-- <input type="text" name="query" placeholder="Search by keyword or phrase" value="{{query}}"> -->
                              <div class="aa-input-container" id="aa-input-container">
                                  <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Search for players or teams..." name="query" autocomplete="off" />
                              </div>
                          </div>
                          <div class="col-md-4">
                              <button type="submit" class="btn btn--primary type--uppercase inner-link">Search</a>
                          </div>
                      </form>
                  </div>

                  <!-- <div class="boxed bg--white text-left">
                      <form class="form--horizontal row m-0" action="/discover">
                          <div class="col-md-8">
                              <input type="text" name="query" placeholder="Search by keyword or phrase" value="{{query}}">
                          </div>
                          <div class="col-md-4">
                              <button type="submit" class="btn btn--primary type--uppercase inner-link">Search</a>
                          </div>
                      </form>
                  </div> -->
              </div>
          </div>
      </div>
  </section>
  {% if results %}
  <section id="results">
    <p class="lead" style="text-align: center;">Showing top matches for <b>{{query}}</b></p>
    <div class="pm-results">
      <div class="container">
        <div class="row">
          {% for result in results %}
            
              <div class="col-lg-4 col-md-6">
                <div class="result modal-instance">
                  {% if loop.index < 4 %}
                  <div class="feature feature-4 boxed boxed--lg boxed--border text-center modal-trigger featured">
                      <span style="display: inline-block; height: 100px; margin-bottom: 10px;">
                        {% if result.clearbit.logo %}
                          <img alt="Image" height="100" src="{{result.clearbit.logo}}" style="max-height: 100px;">
                        {% else %}
                          <img alt="Image" height="100" src="/static/img/company.png" style="max-height: 100px;">
                        {% endif %}
                      </span>
                      {% if result.company_name %}
                        <h4>{{result.company_name}}</h4>
                      {% endif %}
                      {% if result.clearbit.description %}
                        <p>{{result.clearbit.description|truncate(80)}}</p>
                      {% endif %}
                      <!-- <div>
                        <a style="display: inline-block; margin: 0 0.5em;" href="#">Get introduced</a>
                        <a style="display: inline-block; margin: 0 0.5em;" href="#">Save for later</a>
                      </div> -->
                      <div class="rating" style="position: absolute; top: 1em; right: 1em; z-index: 1; color: #0c9; display: inline-block; width: 3.5em; height: 3.5em; border: solid 2px #0c9; border-radius: 50%; line-height: 3.25em; font-weight: bold;">
                        <i class="fas fa-trophy"></i> {{ loop.index }}
                      </div>
                      <span class="btn btn--primary">
                          <span class="btn__text">
                              VIEW
                          </span>
                      </span>
                  </div>
                  {% else %}
                  <div class="feature feature-2 boxed boxed--border modal-trigger">
                    <div class="feature-logo" style="float: left; width: 25%;">
                      {% if result.clearbit.logo %}
                        <img alt="Image" src="{{result.clearbit.logo}}" style="max-height: 100px; max-width: 80%;">
                      {% else %}
                        <img alt="Image" src="/static/img/company.png" style="max-height: 100px; max-width: 80%;">
                      {% endif %}
                    </div>
                    <div class="feature__body">
                      {% if result.company_name %}
                        <h4>{{result.company_name}}</h4>
                      {% endif %}
                      {% if result.clearbit.description %}
                        <p>{{result.clearbit.description|truncate(80)}}</p>
                      {% endif %}
                    </div>
                  </div>
                  <!--end feature-->
                  {% endif %}
                  <div class="modal-container">
                    <div class="modal-content">
                      <section class="imageblock feature-large bg--site border--round ">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-11 col-lg-10">
                                        {% if result.clearbit.logo %}
                                          <img alt="Image" height="100" src="{{result.clearbit.logo}}" style="max-height: 100px; max-width: 80%;">
                                        {% else %}
                                          <img alt="Image" height="100" src="/static/img/company.png" style="max-height: 100px; max-width: 80%;">
                                        {% endif %}
                                        {% if result.company_name %}
                                          <h2>{{result.company_name}}</h2>
                                        {% endif %}
                                        {% if result.clearbit.description %}
                                          <p>{{result.clearbit.description|truncate(80)}}</p>
                                        {% endif %}
                                        {% if result.domain.url %}
                                          <p><a href="{{result.domain.url}}" target="_blank">{{result.domain.url}}</a></p>
                                        {% endif %}
                                        {% if result.domain.keywords %}
                                          <div class="pm-tags">
                                            <ul class="tags">
                                              {% for k in result.domain.keywords %}
                                                <li class="tag">
                                                  <span class="tag-name">{{k}}</span>
                                                </li>
                                              {% endfor %}
                                            </ul>
                                          </div>
                                          {% endif %}
                                        <a class="btn btn--primary" href="#">
                                            <span class="btn__text">
                                                Get introduced
                                            </span>
                                        </a>
                                        <!-- <a class="btn btn--primary" href="#">
                                            <span class="btn__text">
                                                Save for later
                                            </span>
                                        </a> -->
                                    </div>
                                    <!--end of col-->
                                </div>
                            </div>
                            <!--end of container-->
                        </section>
                    <div class="modal-close modal-close-cross"></div></div>
                  </div>
                </div>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% else %}
  <section id="results" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
              <p class="lead">Search by keyword or phrase to get results</p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  {% endif %}
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <!-- Include AlgoliaSearch JS Client and autocomplete.js jQuery plugin after the jQuery dependency -->
  <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
  <!-- Initialize autocomplete menu -->
  <script>
    var client = algoliasearch('YM2WV0YEIF', 'beaa5b3f169b2bcc431b6f8499ba7381');
    var vendors = client.initIndex('vendors');
    var categories = client.initIndex('categories');
    //initialize autocomplete on search input (ID selector must match)
    $('#aa-search-input').autocomplete( {hint: false, debug: true}, [
      {
        source: $.fn.autocomplete.sources.hits(categories, { hitsPerPage: 5 }),
        //value to be displayed in input control after user's suggestion selection
        displayKey: 'company_name',
        //hash of templates used when rendering dataset
        templates: {
          //'suggestion' templating function used to render a single suggestion
          header: '<div class="aa-suggestions-category">Categories</div>',
          suggestion: function(suggestion) {
            return '<span style="position: absolute; top: 10px; left: 10px; width: 30px; text-align: center;"><i class="fas fa-lg fa-tag" style="color: #0c9;"></i></span>' +
              '<span style="display: block; margin-left: 40px;"><b>' + suggestion._highlightResult.name.value + '</b></span>';
          }
        }
      },
      {
        source: $.fn.autocomplete.sources.hits(vendors, { hitsPerPage: 5 }),
        //value to be displayed in input control after user's suggestion selection
        displayKey: 'company_name',
        //hash of templates used when rendering dataset
        templates: {
          //'suggestion' templating function used to render a single suggestion
          header: '<div class="aa-suggestions-category">Vendors</div>',
          suggestion: function(suggestion) {
            return '<span style="position: absolute; top: 10px; left: 10px;"><img src="' + suggestion.clearbit.logo + '" width="30" height="30"></span>' +
              '<span style="display: block; margin-left: 40px;"><b>' + suggestion._highlightResult.company_name.value + '</b></span>' +
              '<span style="display: block; margin-left: 40px;">' + suggestion.company_domain + '</span>';
          }
        }
      }
    ]);
  </script>
{% endblock %}
