/**! Import theme **/

@import "theme.less";

// Tags

.pm-tags {
  .tags {
    display: inline-block;
    .clearfix;
  }
  .tag {
    display: inline-block;
    float: left;
    border: solid 1px @color-primary;
    border-radius: 2em;
    margin: 0 1em 1em 0;
    .material-icons {
      line-height: 1.85714286em;
      font-size: 1em;
      float: left;
    }
  }
  .tag-name,
  .tag-remove {
    float: left;
    display: inline-block;
    padding: 2px 10px;
  }
  .tag-remove {
    color: @color-primary;
    cursor: pointer;
  }
}

.pm-results {
  .result {
    .modal-trigger {
      cursor: pointer;
    }
    .featured {
      &.feature-4 {
        p {
          min-height: 4.285714em;
        }
      }
      &.boxed {
        .btn--primary {
          border-color: transparent;
        }
        &.boxed--border {
          border-color: #0c9;
          &:hover {
            border-color: #00e6ac;
          }
        }
        &:hover {
          .btn--primary {
            background: #00e6ac;
          }
        }
      }
    }
    .feature-2 {
      &.boxed {
        &.boxed--border {
          &:hover {
            border: 1px solid #CCC;
          }
        }
      }
    }
  }
}

.pm-radio-group {
  border: solid 1px #ECECEC;
  height: 217px;
  overflow-y: scroll;
  border-radius: 3px;
  padding: 1em;
  .input-radio {
    margin: 0 0.5em 0.5em 0;
  }
}

// Forms

input[type="file"]{
  -webkit-appearance: auto;
  background: transparent;
  padding: 0;
  border-radius: auto;
  border: none;
}

select[multiple] {
  height: auto;
}

a.logo-circle {
  display: inline-block;
  position: relative;
  top: -0.92857143em;
  width: 80px;
  height: 80px;
  background: #FFF url("/static/img/p.svg") center center no-repeat;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-indent: -999em;
  background-size: 60px 60px;
  border-radius: 0 0 3px 3px;
}

.feature-2 i.fas {
  width: auto;
  float: auto;
}

#menu1 {
  .btn:not([class*='primary']){
    border-color: #FFF;
    span {
      color: #FFF;  
    }
    &:hover {
      border-color: #FFF;
      color: #FFF;
      span {
        color: #FFF;  
      }
    }
  }
}

.menu-horizontal {
  > li {
    &:not(:hover){
      > a {
        opacity: 1;
      }
    }
    > a {
      opacity: 1;
      padding: 5px 9px;
      &.active {
        opacity: 1;
        background-color: #FFF;
        color: @color-primary;
        border-radius: 5px;
        &:hover {
          opacity: 1;
          background-color: #FFF;
          color: @color-primary;
          border-radius: 5px;
        }
      }
      &:hover {
        opacity: 1;
        color: #FFF;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
      }
    }
  }
}

.aa-input-container {
  display: block;
  position: relative;
  z-index: 2;
  .algolia-autocomplete {
    display: block!important;
  }
  .aa-input-search {
    width: 100%;
    border: 1px solid rgba(228, 228, 228, 0.6);
    padding: 12px 28px 12px 12px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .aa-input-search::-webkit-search-decoration,
  .aa-input-search::-webkit-search-cancel-button,
  .aa-input-search::-webkit-search-results-button,
  .aa-input-search::-webkit-search-results-decoration {
    display: none;
  }
  .aa-input-icon {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    fill: #e4e4e4;
  }
  .aa-dropdown-menu {
    background-color: #fff;
    min-width: 300px;
    margin-top: 10px;
    box-sizing: border-box;
    z-index: 100;
    right: 0!important;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.325);
  }
  .aa-suggestion {
    position: relative;
    padding: 12px;
    cursor: pointer;
    em {
      background-color: #FFFF00;
    }
  }
  .aa-suggestion + .aa-suggestion {
    border-top: 1px solid rgba(228, 228, 228, 0.6);
  }
  .aa-suggestion:hover,
  .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35);
  }
  .aa-suggestions-category {
    border-bottom: 1px solid rgba(228, 228, 228, 0.6);
    border-top: 1px solid rgba(228, 228, 228, 0.6);
    padding: 6px 12px;
  }
}

  
