<!doctype html>
<html lang="en">
    {% block head %}
    <head>
        {% if config['ENV'] == 'development' %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=t27PcmBFMat0Z__VcCCKCw&gtm_preview=env-5&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5X64XM9');</script>
            <!-- End Google Tag Manager -->            
        {% endif %}
        {% if config['ENV'] == 'test' %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=z_A6nJyBCV-t0yL4gimeEw&gtm_preview=env-7&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5X64XM9');</script>
            <!-- End Google Tag Manager -->            
        {% endif %}
        {% if config['ENV'] == 'staging' %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=qa42pDU82dKqpfFY-3x1bg&gtm_preview=env-8&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5X64XM9');</script>
            <!-- End Google Tag Manager -->            
        {% endif %}
        {% if config['ENV'] == 'production' %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=gv2i2EfIUyXR-b_HwV2HgA&gtm_preview=env-9&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5X64XM9');</script>
            <!-- End Google Tag Manager -->            
        {% endif %}
        <meta charset="utf-8">
        <title>{% block page_title %}ProMarketer{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <!-- <link href="/static/dist/css/main.min.css" rel="stylesheet" type="text/css" media="all" /> -->
        <link href="/static/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/font-rubiklato.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700%7CRubik:300,400,500" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


    </head>
    {% endblock %}
    <body class=" ">
        {% if config['ENV'] == 'development' %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5X64XM9&gtm_auth=t27PcmBFMat0Z__VcCCKCw&gtm_preview=env-5&gtm_cookies_win=x"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        {% if config['ENV'] == 'test' %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5X64XM9&gtm_auth=z_A6nJyBCV-t0yL4gimeEw&gtm_preview=env-7&gtm_cookies_win=x"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        {% if config['ENV'] == 'staging' %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5X64XM9&gtm_auth=qa42pDU82dKqpfFY-3x1bg&gtm_preview=env-8&gtm_cookies_win=x"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        {% if config['ENV'] == 'production' %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5X64XM9&gtm_auth=gv2i2EfIUyXR-b_HwV2HgA&gtm_preview=env-9&gtm_cookies_win=x"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}
        <a id="start"></a>
        {% block header %}
        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-3 col-md-2">
                            <a href="/">
                                <img class="logo logo-dark" alt="logo" src="/static/img/logo-on-light.svg" width="165" />
                                <img class="logo logo-light" alt="logo" src="/static/img/logo-on-dark.svg" width="165" />
                            </a>
                        </div>
                        <div class="col-9 col-md-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs bg--primary">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 hidden-xs">
                            <div class="bar__module">
                                <a href="/">
                                    <img class="logo" alt="logo" src="/static/img/logo-on-dark.svg" width="165" />
                                </a>
                            </div>
                            <!--end module-->
                        </div>
                        <div class="col-lg-5 col-md-5">
                          <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                              <li><a href="/dashboard" class="{% if active_page == 'dashboard' %}active{% endif %}">Dashboard</a></li>
                              <li><a href="/discover" class="{% if active_page == 'discover' %}active{% endif %}">Discover</a></li>
                              <li><a href="/ask" class="{% if active_page == 'match' %}active{% endif %}">Match</a></li>
                            </ul>
                          </div>
                          <!--end module-->
                        </div>
                        <div class="col-lg-5 col-md-5 text-right text-left-xs">
                            <div class="bar__module">
                                <ul class="menu-horizontal">
                                  <li>
                                    <a href="/account" class="{% if active_page == 'account' %}active{% endif %}">Account</a>
                                  </li>
                                </ul>
                            </div>
                            <div class="bar__module">
                                <a class="btn btn--sm type--uppercase" href="/logout">
                                    <span class="btn__text">
                                        Sign out
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <!--end bar-->
        </div>
        {% endblock %}
        {% block body %}

        {% endblock %}
        {% block footer %}
        <footer class="footer-3 text-center-xs space--xs ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img alt="ProMarketer logo" class="logo" src="https://s3.eu-west-2.amazonaws.com/pm-staticfiles/logo-on-light.png" width="200"/>
                        <ul class="list-inline list--hover">
                            <!-- <li class="list-inline-item">
                                <a href="https://blog.promarketer.io">
                                    <span class="type--fine-print">Blog</span>
                                </a>
                            </li> -->
                            <li class="list-inline-item">
                                <a href="mailto:hello@promarketer.io">
                                    <span class="type--fine-print">hello@promarketer.io</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right text-center-xs">
                        <ul class="social-list list-inline list--hover">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/company/promarketer/">
                                    <i class="socicon socicon-linkedin icon icon--xs"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/promarketer_">
                                    <i class="socicon socicon-twitter icon icon--xs"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-md-6">
                        <p class="type--fine-print">
                            Discover. Engage. Innovate.
                        </p>
                    </div>
                    <div class="col-md-6 text-right text-center-xs">
                        <span class="type--fine-print">&copy;
                            <span class="update-year"></span> ProMarketer Ltd</span>
                            <!-- <a class="type--fine-print" href="#">Privacy Policy</a>
                            <a class="type--fine-print" href="#">Legal</a> -->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </footer>
        {% endblock %}
        {% block scripts %}
        <script src="/static/js/jquery-3.1.1.min.js"></script>
        <script src="/static/js/flickity.min.js"></script>
        <script src="/static/js/easypiechart.min.js"></script>
        <script src="/static/js/parallax.js"></script>
        <script src="/static/js/typed.min.js"></script>
        <script src="/static/js/datepicker.js"></script>
        <script src="/static/js/isotope.min.js"></script>
        <script src="/static/js/ytplayer.min.js"></script>
        <script src="/static/js/lightbox.min.js"></script>
        <script src="/static/js/granim.min.js"></script>
        <script src="/static/js/jquery.steps.min.js"></script>
        <script src="/static/js/countdown.min.js"></script>
        <script src="/static/js/twitterfetcher.min.js"></script>
        <script src="/static/js/spectragram.min.js"></script>
        <script src="/static/js/smooth-scroll.min.js"></script>
        <script src="/static/js/scripts.js"></script>

        {% endblock %}
    </body>
</html>
