{% extends "base-site.html" %}
{% block body %}
<div class="main-container">
  <section class="height-100 text-center">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-7 col-lg-5">
                    <h2>Recover your account</h2>
                    <p class="lead">
                        Enter email address to send a recovery email.
                    </p>
                    <form>
                        <input type="email" placeholder="Email Address" />
                        <button class="btn btn--primary type--uppercase" type="submit">Recover account</button>
                    </form>
                    <span class="type--fine-print block">Dont have an account yet? Register as a <a href="register-brand.html">Brand</a> or <a href="register-vendor.html">Vendor</a></span>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>
{% endblock %}
