{% extends "base-site.html" %}
{% block body %}
<div class="main-container">
    <section class="cover height-100 text-center imagebg parallax" data-overlay="1">
        <div class="background-image-holder">
            <img alt="background" src="/static/img/hero-3.jpg" />
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-12">
                    <h1>Your marketing mojo</h1>
                    <p class="lead">By demystifying the new order of technology SB knows that brands have to take part in the new tech currency. We offer an innovation engine for collaboration, exploring and translating the opportunity. We want to foster valuable change and a new efficiency by spotting the best solution thanks to our confident space which inspires brands to figure things they can’t see out.</p>
                    <div class="modal-instance block">
                        <div class="video-play-icon video-play-icon--xs modal-trigger bg--primary" data-modal-index="0"></div>
                        <span>Watch Overview</span>
                        <!--end of modal-container-->
                    </div>
                    <!--end of modal instance-->
                    <a class="btn btn--primary type--uppercase inner-link" href="#section-registration" data-scroll-class="100vh:active">
                        <span class="btn__text">
                            Register
                        </span>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section id="section-registration" class="imageblock switchable feature-large space--sm">
        <div class="imageblock__content col-lg-6 col-md-4 pos-right">
            <div class="background-image-holder">
                <img alt="image" src="/static/img/marketer.jpeg" />
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-7">
                    <h2>I'm a marketer</h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempus efficitur est ac euismod. Maecenas nec pharetra sem.
                    </p>
                    <a class="btn btn--primary type--uppercase" href="/register/brand">
                        <span class="btn__text">
                            Get started free
                        </span>
                    </a>
                    <span class="block type--fine-print">
                        Or request a FREE
                        <a href="#">product demonstration</a>
                    </span>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="imageblock switchable switchable--switch feature-large space--sm">
        <div class="imageblock__content col-lg-6 col-md-4 pos-right">
            <div class="background-image-holder">
                <img alt="image" src="/static/img/vendor.jpeg" />
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-7">
                    <h2>I'm a solution provider</h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempus efficitur est ac euismod. Maecenas nec pharetra sem.
                    </p>
                    <a class="btn btn--primary type--uppercase" href="/register/vendor">
                        <span class="btn__text">
                            Get started free
                        </span>
                    </a>
                    <span class="block type--fine-print">
                        Or request a FREE
                        <a href="#">product demonstration</a>
                    </span>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="text-center bg--secondary space--xs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline list-inline--images">
                        <li>
                            <img alt="Image" src="/static/img/partner-1.png">
                        </li>
                        <li>
                            <img alt="Image" src="/static/img/partner-5.png">
                        </li>
                        <li>
                            <img alt="Image" src="/static/img/partner-7.png">
                        </li>
                        <li>
                            <img alt="Image" src="/static/img/partner-4.png">
                        </li>
                        <li>
                            <img alt="Image" src="/static/img/partner-6.png">
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <footer class="text-center space--sm footer-5 bg--dark  ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-block">
                        <ul class="list-inline list--hover">
                            <li>
                                <a href="#">
                                    <span>Our Company</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Locations</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Products</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Work With Us</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="social-list list-inline list--hover">
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-google icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-twitter icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-facebook icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="socicon socicon-instagram icon icon--xs"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <span class="type--fine-print">&copy;
                            <span class="update-year"></span> ProMarketer</span>
                        <a class="type--fine-print" href="#">Privacy Policy</a>
                        <a class="type--fine-print" href="#">Legal</a>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </footer>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>
{% endblock %}
