{% extends "base-site.html" %}
{% block header %}{% endblock %}
{% block body %}
<div class="nav-container ">
        <div class="bar bar--sm visible-xs visible-sm">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-md-2">
                        <a href="index.html">
                            <img class="logo logo-dark" alt="ProMarketer" src="https://s3.eu-west-2.amazonaws.com/pm-staticfiles/logo-on-light.png" />
                            <img class="logo logo-light" alt="ProMarketer" src="https://s3.eu-west-2.amazonaws.com/pm-staticfiles/logo-on-dark.png" />
                        </a>
                    </div>
                    <div class="col-9 col-md-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!--end bar-->
        <nav id="menu1" class="bar bar--sm bar-1 hidden-xs hidden-sm bar--absolute bar--transparent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 hidden-sm">
                        <div class="bar__module">
                            <a href="/" class="logo-circle">ProMarketer</a>
                        </div>
                        <!--end module-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </nav>
        <!--end bar-->
    </div>
    <div class="main-container">
        <section class="text-center height-80 imagebg" data-overlay="4">
            <div class="background-image-holder" style="background: url(&quot;static/img/lights.jpg&quot;); opacity: 1;">
                <img alt="ProMarketer team" src="static/img/lights.jpg">
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="h1 inline-block">ProMarketer</h1>
                        <p class="lead">
                            Your marketing team's secret sauce.
                        </p>
                        <a class="btn btn--primary type--uppercase" href="/login">
                            <span class="btn__text">
                                Sign in
                            </span>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8">
                        <h2>AI matchmaking for brands, marketers and emerging technologies</h2>
                        <p class="lead">
                            Time to ditch vested agency recommendations and online directories. ProMarketer puts global supplier content at your fingertips and ensures you find the perfect suite of emerging products, news and information to keep you one step ahead of the game.
                        </p>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                            <img alt="Discover" src="https://s3.eu-west-2.amazonaws.com/pm-staticfiles/industry-insights.png" style="max-height: 100px;">
                            <h3>Discover</h3>
                            <p>Struggling to keep up with the pace of innovation? Demystify the unknown unknowns and discover over 7,000 of the most innovative global Martech vendors with ProMarketer Search.</p>
                        </div>
                        <!--end feature-->
                    </div>
                    <div class="col-md-4">
                        <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                            <img alt="Engage" src="https://s3.eu-west-2.amazonaws.com/pm-staticfiles/ai-matchmaking.png" style="max-height: 100px;">
                            <h3>Engage</h3>
                            <p>Tired of vested agency recommendations? ProMarketer AI matches your briefs with the most relevant vendors on the market. You decide when you&#39;re ready to engage.</p>
                        </div>
                        <!--end feature-->
                    </div>
                    <div class="col-md-4">
                        <div class="feature feature-3 boxed boxed--lg boxed--border text-center">
                            <img alt="Innovate" src="https://s3.eu-west-2.amazonaws.com/pm-staticfiles/rfp-marketplace.png" style="max-height: 100px;">
                            <h3>Innovate</h3>
                            <p>Want to know what&#39;s trending in Martech? Put yourself in the driving seat with ProMarketer Insights and get access to rich industry dashboards and benchmarking data.</p>
                        </div>
                        <!--end feature-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="imageblock switchable feature-large">
            <div class="imageblock__content col-lg-4 col-md-3 pos-right">
                <div class="background-image-holder" style="background: url(&quot;https://s3.eu-west-2.amazonaws.com/pm-staticfiles/hero2.jpg&quot;); opacity: 0;">
                    <img alt="image" src="https://s3.eu-west-2.amazonaws.com/pm-staticfiles/hero2.jpg">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6">
                        <h2>DISCOVER. ENGAGE. INNOVATE.</h2>
                        <p class="lead">
                            Start your ProMarketer journey today for free.
                        </p>
                        <div class="feature-large__group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="feature feature-1">
                                        <!-- <i class="icon icon--sm icon-Text-Effect color--primary"></i> -->
                                        <i class="fas fa-3x fa-building"></i>
                                        <h5>I'm a brand</h5>
                                        <p>
                                            Discover, engage and innovate with over 7000 martech vendors around the world.
                                        </p>
                                        <br>
                                        <a class="btn btn--primary type--uppercase" href="/register/brand">
                                            <span class="btn__text">
                                                Register
                                            </span>
                                        </a>
                                    </div>
                                    <!--end feature-->
                                </div>
                                <div class="col-md-6">
                                    <div class="feature feature-1">
                                        <!-- <i class="icon icon--sm icon-Post-Mail2 color--primary"></i> -->
                                        <i class="fas fa-3x fa-laptop-code"></i>
                                        <h5>I'm a vendor</h5>
                                        <p>
                                            Get the your proposition infront of some of the worlds biggest brands.
                                        </p>
                                        <br>
                                        <a class="btn btn--primary type--uppercase" href="/register/vendor">
                                            <span class="btn__text">
                                                Register
                                            </span>
                                        </a>
                                    </div>
                                    <!--end feature-->
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="imagebg">
            <div class="background-image-holder" style="background: url(&quot;static/img/locations.jpg&quot;); opacity: 1;">
                <img alt="Cityscape" src="static/img/locations.jpg">
            </div>
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-md-7 col-lg-5">
                        <div class="boxed boxed--lg border--round bg--white">
                            <div class="col-lg-10 mx-auto col-md-12">
                                <h3>Future of marketing</h3>
                                <p class="lead">As the world shifts gear, traditional marketing delivery models and full stack solutions are showing signs of decay and a new generation of data and AI solutions proliferate.</p>
                                <hr class="short">
                                <p>Your ProMarketer journey starts right here, right now. Register for early access and be the first to know.</p>
                                <a class="btn btn--primary type--uppercase" href="http://eepurl.com/dzLd-X">Get early access</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <section class="">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-4 col-12 mb-5">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.503886235906!2d-0.11691418419727363!3d51.50397101877495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b82d9aa8d1%3A0xdd3c3add4602e823!2sThe+Tower+Building%2C+11+York+Rd%2C+South+Bank%2C+London+SE1+7NX!5e0!3m2!1sen!2suk!4v1531079366533" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <p class="lead">If you want to take a more active part in the evolution of ProMarketer we'd love to hear from you. Reach out to the team via any of the channels below:</p>
                        <p>
                            <a href="https://twitter.com/ProMarketer_" target="_blank" style="text-decoration: none; color: #252525;">
                                <img alt="Contact via Twitter" src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" width="24" height="24" />
                                @ProMarketer_
                            </a>
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/company/promarketer/" target="_blank" style="text-decoration: none; color: #252525;">
                                <img alt="Contact via LinkedIn" src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-linkedin-48.png" width="24" height="24" />
                                LinkedIn
                            </a>
                        </p>
                        <p>
                            <a href="mailto:hello@promarketer.io" target="_blank" style="text-decoration: none; color: #252525;">
                                <img alt="Contact via Email" src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-48.png" width="24" height="24" />
                                Email
                            </a>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <a class="twitter-timeline" data-height="450" data-theme="light" data-link-color="#00CC99" href="https://twitter.com/ProMarketer_?ref_src=twsrc%5Etfw">Tweets by ProMarketer_</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <footer class="footer-3 text-center-xs space--xs ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img alt="ProMarketer logo" class="logo" src="https://s3.eu-west-2.amazonaws.com/pm-staticfiles/logo-on-light.png" width="200"/>
                        <ul class="list-inline list--hover">
                            <!-- <li class="list-inline-item">
                                <a href="https://blog.promarketer.io">
                                    <span class="type--fine-print">Blog</span>
                                </a>
                            </li> -->
                            <li class="list-inline-item">
                                <a href="mailto:hello@promarketer.io">
                                    <span class="type--fine-print">hello@promarketer.io</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right text-center-xs">
                        <ul class="social-list list-inline list--hover">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/company/promarketer/">
                                    <i class="socicon socicon-linkedin icon icon--xs"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/promarketer_">
                                    <i class="socicon socicon-twitter icon icon--xs"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-md-6">
                        <p class="type--fine-print">
                            Discover. Engage. Innovate.
                        </p>
                    </div>
                    <div class="col-md-6 text-right text-center-xs">
                        <span class="type--fine-print">&copy;
                            <span class="update-year"></span> ProMarketer Ltd</span>
                            <!-- <a class="type--fine-print" href="#">Privacy Policy</a>
                            <a class="type--fine-print" href="#">Legal</a> -->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </footer>
    </div>
    <!--<div class="loader"></div>-->
    <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
        <i class="stack-interface stack-up-open-big"></i>
    </a>
{% endblock %}