{% extends "base-site.html" %}
{% block header %}{% endblock %}
{% block body %}
<div class="main-container">
    <section class="text-center height-80 imagebg" data-overlay="7">
        <div class="background-image-holder" style="background: url(&quot;static/img/locations.jpg&quot;); opacity: 1;">
            <img alt="ProMarketer team" src="static/img/locations.jpg">
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-12">
                    <h1><img width="280" class="logo logo-light" alt="logo" src="/static/img/logo-on-dark.svg" /></h1>
                    <p class="lead">
                        AI matchmaking for brands and vendors
                    </p>
                    <a class="btn btn--primary type--uppercase" href="/login">
                        <span class="btn__text">
                            Sign in
                        </span>
                    </a>
                    <span class="block type--fine-print">
                        <!-- or <a href="mailto:hello@promarketer.io">request a demo</a> -->
                    </span>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="imageblock switchable feature-large bg--secondary">
        <div class="imageblock__content col-lg-4 col-md-3 pos-right">
            <div class="background-image-holder" style="background: url(&quot;static/img/bg-green.gif&quot;); opacity: 0;">
                <img alt="image" src="static/img/bg-green.gif">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <h2>DISCOVER. ENGAGE. INNOVATE.</h2>
                    <p class="lead">
                        Start your ProMarketer journey today for free.
                    </p>
                    <div class="feature-large__group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature feature-1">
                                    <!-- <i class="icon icon--sm icon-Text-Effect color--primary"></i> -->
                                    <i class="fas fa-4x fa-building"></i>
                                    <h5>I'm a brand</h5>
                                    <p>
                                        Discover, engage and innovate with over 7000 martech vendors around the world.
                                    </p>
                                    <br>
                                    <a class="btn btn--primary type--uppercase" href="/login">
                                        <span class="btn__text">
                                            Get started
                                        </span>
                                    </a>
                                </div>
                                <!--end feature-->
                            </div>
                            <div class="col-md-6">
                                <div class="feature feature-1">
                                    <!-- <i class="icon icon--sm icon-Post-Mail2 color--primary"></i> -->
                                    <i class="fas fa-4x fa-laptop-code"></i>
                                    <h5>I'm a vendor</h5>
                                    <p>
                                        Get the your proposition infront of some of the worlds biggest brands.
                                    </p>
                                    <br>
                                    <a class="btn btn--primary type--uppercase" href="/login">
                                        <span class="btn__text">
                                            Get started
                                        </span>
                                    </a>
                                </div>
                                <!--end feature-->
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <footer class="text-center-xs space--xs ">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <ul class="list-inline">
                        <li>
                            <a href="#">
                                <span class="h6 type--uppercase">About</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="h6 type--uppercase">Careers</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="h6 type--uppercase">Support</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 text-right text-center-xs">
                    <ul class="social-list list-inline list--hover">
                        <li>
                            <a href="#">
                                <i class="socicon socicon-google icon icon--xs"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon socicon-twitter icon icon--xs"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon socicon-facebook icon icon--xs"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon socicon-instagram icon icon--xs"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-md-7">
                    <span class="type--fine-print">©
                        <span class="update-year">2018</span> Stack Inc.</span>
                    <a class="type--fine-print" href="#">Privacy Policy</a>
                    <a class="type--fine-print" href="#">Legal</a>
                </div>
                <div class="col-md-5 text-right text-center-xs">
                    <a class="type--fine-print" href="#">support@stack.io</a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </footer>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>
{% endblock %}