{% extends "base-site.html" %}
{% block header %}{% endblock %}
{% block body %}
<a style="position: fixed; top: 2em; left: 2em; color: #FFF; text-decoration: none; z-index: 2;" href="/">&larr; Take me back</a>
<div class="main-container">
  <section class="height-100 imagebg text-center" data-overlay="8">
        <div class="background-image-holder">
            <img alt="background" src="static/img/lights.jpg" />
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-7 col-lg-5">
                    <h2>Sign in</h2>
                    <p class="lead">
                        Welcome back, sign in with your account
                    </p>
                    {% if error %}
                        <p style="background-color: #d62626; color: #FFF; border-radius: 4px; padding: 6px 0; margin-bottom: 1em;">{{error}}</p>
                    {% endif %}
                    <form action="/login" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <input name="email" type="email" placeholder="Email address" autofocus required />
                            </div>
                            <div class="col-md-12">
                                <input type="password" name="password" placeholder="Password" required />
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn--primary type--uppercase" type="submit">Sign in</button>
                            </div>
                        </div>
                        <!--end of row-->
                    </form>
                    <!-- <span class="type--fine-print block">Dont have an account yet? Register as a <a href="/register/brand">Brand</a> or <a href="/register/vendor">Vendor</a></span> -->
                    <!-- <span class="type--fine-print block">Forgot your username or password?<a href="/forgotten">Recover account</a></span> -->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>
{% endblock %}
