{% extends "base-site.html" %}
{% block header %}{% endblock %}
{% block body %}
<div class="main-container">
  <section class="imageblock switchable feature-large height-100">
      <div class="imageblock__content col-lg-6 col-md-4 pos-right">
          <div class="background-image-holder" style="background: url(&quot;/static/img/locations.jpg&quot;); opacity: 1;">
              <img alt="image" src="/static/img/locations.jpg">
          </div>
      </div>
      <div class="container pos-vertical-center">
          <div class="row">
              <div class="col-lg-5 col-md-7">
                  <p><a href="/">&larr; Back to home</a></p>
                  <h2><img width="280" class="logo logo-light" alt="ProMarketer" src="https://s3.eu-west-2.amazonaws.com/pm-staticfiles/logo-on-light.svg" /></h2>
                  <p>Already have a ProMarketer account? <a href="/login">Sign in</a></p>
                  <form action="/registerBrand" method="post">
                      <div class="row">
                          <div class="col-12">
                              <label for="company_name">Company name</label>
                              <input type="text" name="company_name" placeholder="Acme" autofocus required>
                          </div>
                          <div class="col-12">
                            <label for="url">Company domain</label>
                            <input id="urlId" type="text" name="company_domain" placeholder="acme.com" onfocusout="fillInfo()" required>
                          </div>
                          <div class="col-12">
                            <div id="brand-tags" class="pm-tags">
                              <div class="tags"></div>
                            </div>
                            <input id="keywords" type="text" name="keywords" hidden>
                          </div>
                          <div class="col-12">
                              <label for="name">Name</label>
                              <input type="text" name="name" placeholder="Joe Bloggs" required>
                          </div>
                          <div class="col-12">
                              <label for="email">Email</label>
                              <input type="email" name="email" placeholder="joe.bloggs@example.com" required>
                          </div>
                          <div class="col-12">
                              <label for="password">Password</label>
                              <input type="password" name="password" placeholder="Combine letters numbers and symbols" required>
                          </div>
                          <div class="col-12">
                              <button type="submit" class="btn btn--primary" style="text-transform: uppercase;">Create account</button>
                          </div>
                          <hr>
                          <div class="col-12">
                              <span class="type--fine-print">By signing up, you agree to the
                                  <a href="#">Terms of Service</a>
                              </span>
                          </div>
                      </div>
                      <!--end row-->
                  </form>
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  function fillInfo(){
    var url=$.trim($("#urlId").val());
    if(url.length>0){
      var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
      var regex = new RegExp(expression);
      if (url.match(regex)) {
        $("#urlId").removeClass('field-error');
        $.ajax({
          url: "/getKeywords?url=" + url
        }).then(function(data){
          console.log(data);
          var obj = JSON.parse(data);
          console.log(obj)
          var keywords = Object.keys(obj);
          console.log(keywords)
          var length = keywords.length;
          $('#keywords').val('');
          $('#brand-tags > .tags .tag').remove();
          for (var i = 0; i < length; i++) {
            var currentValue = $('#keywords').val();
            console.log(i)
            console.log(keywords[i])
            if (i < (length - 1)){
              $('#keywords').val(currentValue + keywords[i] + ",");
            } else {
              $('#keywords').val(currentValue + keywords[i]);
            }
            $('#brand-tags > .tags').append('<div class="tag"><span class="tag-name">' + keywords[i] + '</span></div>')
          }
        });
      } else {
        $("#urlId").addClass('field-error');
        $('#keywords').val('');
        $('#brand-tags > .tags .tag').remove();
      }
    }
  }
</script>
{% endblock %}
