{% extends "base-app-brand.html" %}
{% block header %}{% endblock %}
{% block body %}
<div class="main-container">
  <section class="height-100 text-center">
      <div class="container pos-vertical-center">
          <div class="row">
              <div class="col-md-12">
                  <i class="icon icon--lg icon-Mail-3 color--dark"></i>
                  <h1 class="h1--large">Success!</h1>
                  <p class="lead">
                      Thanks for requesting early access. We'll let you know as soon as its ready.
                  </p>
                  <p class="lead"><a href="/">Back to home</a></p>
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
</div>
<!--<div class="loader"></div>-->
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>
{% endblock %}
